body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-adobe-gothic-std: "Adobe Gothic Std";
    --font-adobe-heiti-std: "Adobe Heiti Std";
    --font-mulish: Mulish;
    --font-adobe-fan-heiti-std: "Adobe Fan Heiti Std";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-sm: 14px;
  
    /* Colors */
    --white: #fff;
    --color-steelblue-100: rgba(125, 162, 211, 0.2);
    --color-gray-100: #181818;
    --background-background0: #010618;
    --color-gray-200: rgba(255, 255, 255, 0.8);
    --gray-5: #e0e0e0;
    --color-dimgray: #545454;
    --blue-1: #2f80ed;
    --color-midnightblue: rgba(21, 21, 92, 0.6);
  
    /* Gaps */
    --gap-xl: 20px;
  
    /* Paddings */
    --padding-150xl: 169px;
    --padding-xl: 20px;
    --padding-7xs: 6px;
    --padding-12xs: 1px;
    --padding-smi: 13px;
    --padding-sm: 14px;
    --padding-9xs: 4px;
    --padding-xs: 12px;
    --padding-mid: 17px;
    --padding-mini: 15px;
    --padding-lg: 18px;
    /* fonts */
  --font-adobe-gothic-std: "Adobe Gothic Std";
  --font-adobe-heiti-std: "Adobe Heiti Std";
  --font-nunito-sans: "Nunito Sans";
  --font-adobe-fan-heiti-std: "Adobe Fan Heiti Std";

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #828282;
  --color-gray-200: #181818;
  --color-gray-300: rgba(255, 255, 255, 0.8);
  --color-gray-400: rgba(255, 255, 255, 0.15);
  --color-gainsboro: #e8e8e8;
  --blue-1: #2f80ed;
  --gray-6: #f2f2f2;
  --gray-1: #333;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-mid: 17px;
  --gap-2xs: 11px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-58xl: 77px;
  --padding-5xl: 24px;
  --padding-10xl: 29px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-4xl: 23px;
  --br-7xl-5: 26.5px;
  --br-10xl: 29px;
  --br-3xl: 22px;
  --br-4xs: 9px;
  --br-2xs: 11px;
  --br-26xl: 45px;
  }