.registrasi-pt-2-child {
    align-self: stretch;
    height: 68px;
    position: relative;
    background-color: var(--white);
  }
  .create-password,
  .use-a-minimum {
    align-self: stretch;
    position: relative;
    text-align: center;
  }
  .create-password {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    font-family: var(--font-adobe-gothic-std);
    color: var(--color-gray-100);
  }
  .use-a-minimum {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-family: var(--font-adobe-heiti-std);
    color: var(--gray-2);
  }
  .password-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 33px;
  }
  .password {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.02em;
    line-height: 20px;
    font-family: var(--font-adobe-fan-heiti-std);
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    min-width: 63px;
  }
  .password-input-area,
  .state-layer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
  }
  .state-layer {
    width: calc(100% - 30px);
    border: 0;
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 48.7px;
    border-radius: 3.96px 3.96px 0 0;
    align-items: center;
    padding: 15.899999999999636px 0 15.799999999999637px;
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    color: var(--color-midnightblue);
    min-width: 221px;
  }
  .input1,
  .text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .text-field {
    align-self: stretch;
    height: 44px;
    border-radius: 3.96px;
    border: 1px solid var(--background-background0);
    box-sizing: border-box;
    justify-content: center;
    padding: 0 var(--padding-mini) 0;
  }
  .input1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3.96px 3.96px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    justify-content: flex-start;
    height: 100%;
  }
  .eye-1-icon {
    position: absolute;
    top: 10px;
    left: 364px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 1;
  }
  .password-visibility {
    align-self: stretch;
    height: 44px;
    position: relative;
  }
  .input-fields,
  .password-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .password-field {
    flex: 1;
    flex-direction: column;
    gap: 6px;
  }
  .input-fields {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 4px;
    box-sizing: border-box;
  }
  .confirm-password {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.02em;
    line-height: 20px;
    font-family: var(--font-adobe-fan-heiti-std);
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    min-width: 120px;
  }
  .confirm-password-container,
  .state-layer1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .confirm-password-container {
    align-items: flex-start;
    padding: 0 var(--padding-xs);
  }
  .state-layer1 {
    width: calc(100% - 30px);
    border: 0;
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 48.7px;
    border-radius: 3.96px 3.96px 0 0;
    align-items: center;
    padding: 15.899999999999636px 0 15.799999999999637px;
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    color: var(--color-midnightblue);
    min-width: 221px;
  }
  .input11,
  .text-field1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .text-field1 {
    align-self: stretch;
    height: 44px;
    border-radius: 3.96px;
    border: 1px solid var(--background-background0);
    box-sizing: border-box;
    justify-content: center;
    padding: 0 var(--padding-mini) 0;
  }
  .input11 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3.96px 3.96px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    justify-content: flex-start;
    height: 100%;
  }
  .eye-2-icon {
    position: absolute;
    top: 10px;
    left: 365px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: 1;
  }
  .confirm-password-input-area {
    height: 44px;
    flex: 1;
    position: relative;
    max-width: 100%;
  }
  .confirm-password-fields {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-10xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .confirm {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.02em;
    line-height: 20px;
    font-family: var(--font-adobe-fan-heiti-std);
    color: #fcecec;
    text-align: left;
    display: inline-block;
    min-width: 54px;
  }
  .confirmation-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-xl);
    background-color: var(--blue-1);
    align-self: stretch;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .confirmation-button:hover {
    background-color: #4799ff;
  }
  .confirm-password-container-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 17px;
    max-width: 100%;
  }
  .by-creating-an {
    color: var(--gray-2);
  }
  .terms-and-conditions1 {
    color: var(--blue-1);
  }
  .and {
    color: var(--gray-2);
  }
  .privacy-statement {
    color: var(--blue-1);
  }
  .by-creating-an-container {
    flex: 1;
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.02em;
    line-height: 18px;
    font-weight: 600;
    font-family: var(--font-mulish);
    text-align: left;
    display: inline-block;
    max-width: 100%;
  }
  .terms-and-conditions {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-10xs);
    box-sizing: border-box;
  }
  .password-container-parent,
  .registration-form,
  .terms-and-conditions {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .password-container-parent {
    margin: 0;
    width: 404px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 28.7px;
  }
  .registration-form {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 54px 24px;
    box-sizing: border-box;
  }
  .logo-separator {
    width: calc(100% - 374px);
    height: 455.1px;
    top: 234.41px;
    right: 374px;
    left: 0;
    transform: rotate(-6.8deg);
  }
  .logo-separator,
  .logo-separator1,
  .resort-logo {
    position: absolute;
    margin: 0 !important;
    background-color: var(--color-steelblue-100);
    transform-origin: 0 0;
  }
  .logo-separator1 {
    width: calc(100% - 374px);
    height: 455.1px;
    top: 278.51px;
    right: 374px;
    left: 0;
    transform: rotate(-6.8deg);
    z-index: 1;
  }
  .resort-logo {
    width: 1984.5px;
    height: 445.9px;
    right: 363.3px;
    bottom: -206.7px;
    transform: rotate(-6.6deg);
    z-index: 2;
  }
  .logo-separator-parent {
    margin-right: -427px;
    width: 2348px;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 163%;
    flex-shrink: 0;
  }
  .background-icon {
    width: 1440px;
    height: 409px;
    position: relative;
    display: none;
    max-width: 100%;
  }
  .learn-more {
    align-self: stretch;
    height: 42.3px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    /* debug_commit: 1de1738; */
    z-index: 1;
  }
  .artikel,
  .donasi,
  .kegiatan,
  .konsultasi,
  .kontak,
  .tentang-kami {
    margin: 0;
  }
  .about-alyeska-press-container {
    width: 94px;
    height: 211.6px;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 30px;
    font-family: var(--font-adobe-heiti-std);
    color: var(--color-gray-200);
    display: inline-block;
    flex-shrink: 0;
    mix-blend-mode: normal;
    /* debug_commit: 1de1738; */
    z-index: 1;
  }
  .learn-more-links {
    position: absolute;
    top: 0.2px;
    left: 243.9px;
    width: 98.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8.3px;
  }
  .tickets-booking {
    height: 74.1px;
    flex: 1;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    /* debug_commit: 1de1738; */
    z-index: 1;
  }
  .ticket-booking {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 1.4px;
  }
  .donasi1,
  .konsultasi1,
  .pencarian-kegitan {
    margin: 0;
  }
  .lift-tickets-season-container {
    margin-top: -23.30000000000109px;
    height: 141.1px;
    flex: 1;
    position: relative;
    line-height: 30px;
    display: inline-block;
    mix-blend-mode: normal;
    flex-shrink: 0;
    /* debug_commit: 1de1738; */
    z-index: 1;
  }
  .booking-column,
  .season-pass {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .season-pass {
    width: 137.7px;
    height: 117.8px;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-sm);
    color: var(--color-gray-200);
    font-family: var(--font-adobe-heiti-std);
  }
  .booking-column {
    position: absolute;
    top: 0;
    left: 434.7px;
    width: 247.3px;
    flex-direction: column;
  }
  .contact-us {
    width: 139.5px;
    height: 48.6px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .lift-tickets-season {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 30px;
    font-family: var(--font-adobe-heiti-std);
    color: var(--color-gray-200);
    mix-blend-mode: normal;
    z-index: 1;
  }
  .contact-column {
    position: absolute;
    top: 0;
    left: 649px;
    width: 184.9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.4px;
  }
  .image-placeholder {
    position: absolute;
    width: calc(100% - 13.4px);
    top: 0.4px;
    right: 7.7px;
    left: 5.7px;
    border-radius: 26.5px;
    background-color: #e8e8e8;
    height: 115.7px;
  }
  .karya-seni-tanpa-judul-2-1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 23px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .image-placeholder-parent {
    position: absolute;
    top: 47.2px;
    left: 0;
    width: 120.6px;
    height: 137.6px;
    z-index: 1;
  }
  .social {
    height: 36px;
    flex: 1;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .social-media-header {
    width: 60.7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 5px 0 4.8px;
    box-sizing: border-box;
  }
  .bxl-facebook-icon,
  .instagram-logo-icon {
    position: relative;
    min-height: 18px;
    z-index: 1;
  }
  .bxl-facebook-icon {
    align-self: stretch;
    width: 9.7px;
    max-height: 100%;
  }
  .instagram-logo-icon {
    height: 17.6px;
    width: 18.7px;
    object-fit: cover;
  }
  .bxl-twitter-icon {
    width: 20.4px;
    height: 15.6px;
    position: relative;
    z-index: 1;
  }
  .twitter-icon-container {
    width: 20.4px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1px 0 0;
    box-sizing: border-box;
  }
  .social-media,
  .social-media-icons,
  .twitter-icon-container {
    display: flex;
    align-items: flex-start;
  }
  .social-media-icons {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .social-media {
    position: absolute;
    top: 6px;
    left: 913.3px;
    width: 102.1px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14.5px;
  }
  .links-column {
    width: 1015.4px;
    height: 262.4px;
    position: relative;
    max-width: 100%;
  }
  .divider,
  .divider1 {
    position: absolute;
    top: 0;
    left: 0.2px;
    background-color: var(--color-gray-300);
    border: 1px solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    z-index: 1;
  }
  .divider1 {
    top: 0.1px;
    left: 0;
    z-index: 2;
  }
  .divider-parent {
    height: 1.2px;
    flex: 1;
    position: relative;
    max-width: 100%;
  }
  .copyright,
  .information-columns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .copyright {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 18.9px;
    box-sizing: border-box;
  }
  .information-columns {
    width: 1115.7px;
    flex-direction: column;
    gap: 28px;
  }
  .alyeska-resor {
    height: 34.9px;
    width: 249.4px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    mix-blend-mode: normal;
    z-index: 1;
  }
  .copyright-notice {
    width: 1099.8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-sm);
    color: rgba(255, 255, 255, 0.75);
    font-family: var(--font-adobe-heiti-std);
  }
  .background-parent {
    align-self: stretch;
    background-color: #487bc0;
    padding: 25px 155.3px 13.5px;
    box-sizing: border-box;
    gap: 44px;
    max-width: 100%;
    z-index: 3;
    margin-top: -305px;
  }
  .background-parent,
  .footer,
  .registrasi-pt-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .footer {
    align-self: stretch;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--white);
    font-family: var(--font-adobe-gothic-std);
  }
  .registrasi-pt-2 {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    gap: 73px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 725px) {
    .background-parent {
      gap: 22px;
      padding-left: var(--padding-58xl);
      padding-right: var(--padding-58xl);
      box-sizing: border-box;
    }
    .registrasi-pt-2 {
      gap: 36px;
    }
  }
  @media screen and (max-width: 650px) {
    .registration-form {
      padding-bottom: 35px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .create-password {
      font-size: 22px;
    }
    .password-container {
      gap: 16px;
    }
    .background-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
}