/* navbar */
nav .navbar-nav .nav-item{
    width: 88px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    margin-left: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

nav .navbar-nav .nav-item :hover{
    width: 88px;
    height: 35px;
    border-radius: 10px;
    background: #91B0D9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}
/* nav .navbar-nav .nav-item :active {
    width: 88px;
    height: 35px;
    border-radius: 10px;
    background: #91B0D9;
} */