/* navbar */
nav .navbar-nav .nav-item{
    border-radius: 10px;
    text-align: center;
    margin-left: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}
nav .active{
    border-radius: 10px;
    background: #91B0D9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}
nav .navbar-nav .nav-item :hover{
    border-radius: 10px;
    background: #91B0D9;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}
/* hero-image */
.container .hero-image{
    margin-top: 50px;
    text-align: center;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30); */
}
.container .search-box{
    width: 1030px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
}
.container .search-box .form{
        /* Center horizontally */
        /* margin-left: auto;
        margin-right: auto; */
        /* justify-content: center; */
}
.container .search-box form .col-auto{
    width: 250px;
}
.container .search-box form .col-auto2{
    width: 200px;
}
.container .search-box form .col-auto3{
    width: 150px;
}
/* pelayanan kami */
 .pelayanan-kami{
    /* width: 1440px; */
    margin-top: 47px;
    height: 444px;
    background: linear-gradient(90deg, rgba(32, 94, 177, 0.70) 0%, rgba(131, 166, 214, 0.70) 100%);
 }
 .pelayanan-kami h2{
    color: #181818;
    font-family: "Adobe Gothic Std";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 20px;
 }
 .pelayanan-kami .container .row{
    text-align: center;
    margin-top: 21px;
 }
 /* artikel */
 .artikel{
    height: 480px;
    background: linear-gradient(90deg, rgba(32, 94, 177, 0.10) 0%, rgba(131, 166, 214, 0.10) 100%);
 }
 .artikel h2{
    color: #181818;
    font-family: "Adobe Gothic Std";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
 }
.artikel .container .row{
   text-align: center;
   margin-top: 21px;
}
/* kegiatan populer */
.kegiatanPopuler h2{
    color: #181818;
    font-family: "Adobe Gothic Std";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
 }
.kegiatanPopuler .container .row{
   text-align: center;
   margin-top: 21px;
}
/* galery */
.galery{
    margin-top: 50px;
    margin-bottom: 50px;

}
.galery h2{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #181818;
    text-align: center;
    font-family: "Adobe Gothic Std";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.galery .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
 .galery .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* filter: grayscale(1) brightness(0.5); */
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  /* .galery .column img:hover {
    filter: grayscale(0);
  } */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .galery .column {
      flex: 100%;
      max-width: 100%;
    }
    .galery .column img {
      filter: grayscale(0) brightness(1);
    }
  }
  /* footer */
  .footer .logo {
    text-align: center;
  }
  .footer .copyright{
    margin-top: 49px;
    height: 59px;
    background: linear-gradient(90deg, #205EB1 0%, #83A6D6 100%);
    text-align: center;
  }
  .footer .copyright p {
    color: #fff;
    padding-top: 20px;
  }
  .footer .copyright p a{
    color: #fff;
  }